@import "tailwindcss";

@plugin "daisyui";


* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  width: 100%;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}